
{{> head }}

{{> navbar }}

<div class="container">
 <div class="row"> 
    
    <div class="col-6">
        <h1>Un tesoro</h1>
        <h3>Representan una linda parte de mi vida, <br>
        muy feliz de tenerlos a mi lado y con salud.</h3>
        <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laboriosam molestias, impedit repellendus inventore rerum qui dolore officia iure repellat odio, mollitia aut explicabo voluptates maiores ratione consequuntur voluptatum consectetur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur cum reprehenderit facilis doloremque, incidunt nihil explicabo repellat vero atque ut magnam sit! Beatae minima dolorum fugit veniam nostrum inventore exercitationem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit molestias aliquid hic illo libero omnis, neque pariatur officia quis ab expedita nihil amet quod quibusdam dolor quidem! Iure, harum. Ut?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit laboriosam atque assumenda tenetur est tempora, magnam nemo deleniti. Doloribus beatae optio officiis ipsa praesentium consectetur rem assumenda temporibus! Ducimus, corporis.
            
        </h3>

    </div> 
    <div class="col-6">
        <img src="/assets/img/img1.jpg" class="img-thumbnail">
        
    </div> 

    </div>

</div>
   
{{> footer }}